nav {
    background-color: #18181b;
    display: flex;
    list-style: none;
    gap: 10%;
    height: 5vh;
 
    
    

}

.ChooseLink {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     gap: 100px;

     
}

li {
   
     font-size: 30px;
    
     text-transform: uppercase;
    
     
     
}

.link {
    
     
     transition: all 0.3s ease-in-out;

     a {
          list-style: none;
          text-decoration: none;
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-weight: 200;
          font-style: normal;
         
     }
     
}

.link:hover {
     transform: translateY(-3px);
     color: grey;
     

}


