body {
  width: 100%;
}

nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;

  height: 7vh;

  a {
    text-decoration: none;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    color: black;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    color: #adada6;
  }

  img {
    width: 40px;
  }

  .ChooseLink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
}
